body {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image:url('img/background.png');
      
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top:30px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.small-logo {
    height:55px;
    padding:0px;
}
/*body{
    background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg');
    padding:50px;
}*/

.panel {
        margin-right: 0!important;
    margin-left: 0!important;
    background-color: #fff!important;
    border-color: #ddd!important;
    border-width: 1px!important;
    border-radius: 4px 4px 0 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    min-height:460px;
    border:hidden!important;
}
.panel-heading  {
        /*border-radius: 4px 4px 0 0;
        -webkit-box-shadow: none;
    box-shadow: none;*/
           
            padding:0px;
        background-color: #dd272e;
      margin-bottom:5px;
     border-bottom:hidden;

}
.panel-login {
  
    min-height:300px!important;

}
.panel-login-header {
    padding:10px;

}
.upload-trigger {
    border-radius: 0px 4px 0 0;
}

.modal-header {
      background: #dd272e;
         color: #FFF;
}
.panel-heading {
      background: #dd272e;
         color: #FFF;
}